venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
*.db
*.sqlite
model.pkl
practice.ipynb
creditcard.csv
# C:\Users\amaan\OneDrive\Documents\CREDIT_CARD\Credit_Card_Fraud_Detection\creditcard.csv