<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>About Us - Spering</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="static/css/responsive.css" rel="stylesheet" />
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section starts -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <img src="static/images/logo.png" alt="" />
              <span> Fraud Detection </span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="features">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="login">
                  <span> Login </span>
                </a>
                <form
                  class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0"
                >
                  <button
                    class="btn my-2 my-sm-0 nav_search-btn"
                    type="submit"
                  ></button>
                </form>
              </div>
            </div>
            <div>
              <div class="custom_menu-btn">
                <button>
                  <span class="s-1"></span>
                  <span class="s-2"></span>
                  <span class="s-3"></span>
                </button>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- experience section -->
    <section
      class="experience_section layout_padding-top layout_padding2-bottom"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="img-box">
              <img src="static/images/experience-img.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-7">
            <div class="detail-box">
              <div class="heading_container">
                <h2>Best Experienced Freelancer Here</h2>
              </div>
              <p>
                We are dedicated to provide businesses with advanced credit card
                fraud detection solutions. Our platform utilizes cutting-edge
                technology and expert analysis to ensure your transactions are
                secure and fraudulent activities are swiftly identified and
                prevented. With Us, you can trust that your business and
                customers are protected from financial fraud.
              </p>
              <div class="btn-box">
                <a href="" class="btn-1"> Read More </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end experience section -->

    <!-- about section -->
    <section class="about_section layout_padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-9 mx-auto">
            <div class="img-box">
              <img src="static/images/about-img.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="detail-box">
          <h2>About Us</h2>
          We are three friends who came together with a shared vision
          to revolutionize the way businesses handle credit card fraud
          detection. With our diverse backgrounds and expertise in technology,
          finance, and cybersecurity, we founded this to provide advanced
          solutions that protect businesses and their customers from fraudulent
          activities. </p>
          <p>Since our establishment in [Year], we have been committed
          to offering top-notch services and exceptional customer support. Our
          platform leverages cutting-edge technology and expert analysis to
          deliver effective fraud detection and prevention solutions. We understand the importance of security in financial
          transactions.
          </p> 
          <p>Our goal is to create a safer environment for businesses
          by swiftly identifying and preventing fraudulent activities. Join us
          today and benefit from our innovative approach to credit card fraud
          detection. Experience the peace of mind that comes from working with a
          team dedicated to your security.
          </p>
          <a href="work.html"> Read More </a>
        </div>
      </div>
    </section>
    <!-- end about section -->

    <!-- info section -->
    <section class="info_section">
      <div class="info_container layout_padding-top">
        <div class="container">
          <div class="info_top">
            <div class="info_logo">
              <img src="static/images/logo.png" alt="" />
              <span> Credit Card Fraud Detection </span>
            </div>
            <div class="social_box">
              <a href="#">
                <img src="static/images/twitter.png" alt="" />
              </a>
              <a href="#">
                <img src="static/images/linkedin.png" alt="" />
              </a>
              <a href="#">
                <img src="static/images/instagram.png" alt="" />
              </a>
            </div>
          </div>

          <div class="info_main">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <div class="info_link-box">
                  <h5>Useful Links</h5>
                  <ul>
                    <li class="active">
                      <a class="" href="index">Home</a>
                    </li>
                    <li>
                      <a href="about">About</a>
                    </li>
                    <li>
                      <a href="features">Features</a>
                    </li>
                    <li>
                      <a href="contact">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-lg-2 offset-lg-1">
                <h5>Information</h5>
                <p>
                  For more information about our platform and services, feel
                  free to get in touch with us.
                </p>
              </div>
              <div class="col-md-3 offset-lg-1">
                <div class="info_form">
                  <h5>Newsletter</h5>
                  <form action="">
                    <input type="email" placeholder="Email" />
                    <button>Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9 col-md-10 mx-auto">
              <div class="info_contact layout_padding2">
                <div class="row">
                  <div class="col-md-3">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="static/images/location.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>Location</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="static/images/mail.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>demo@gmail.com</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-5">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="static/images/call.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>Call +91 9922990078</h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end info section -->

    <!-- footer section -->
    <footer class="container-fluid footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayDate"></span> All Rights Reserved By Our team
        </p>
      </div>
    </footer>
    <!-- end footer section -->

    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/custom.js"></script>
  </body>
</html>
