<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta
      name="keywords"
      content="Credit Card Fraud Detection, Fraud Prevention, Secure Transactions"
    />
    <meta
      name="description"
      content="Discover the advanced features of our Credit Card Fraud Detection system, designed to secure your transactions and prevent fraudulent activities."
    />
    <meta name="author" content="Your Company" />

    <title>Features - Credit Card Fraud Detection</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="static/css/responsive.css" rel="stylesheet" />
    
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section starts -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <img
                src="{{ url_for('static', filename='images/logo.png') }}"
                alt=""
              />
              <span> Fraud Detection </span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="features">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="login">
                  <span> Login </span>
                </a>
                <form
                  class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0"
                >
                  <button
                    class="btn my-2 my-sm-0 nav_search-btn"
                    type="submit"
                  ></button>
                </form>
              </div>
            </div>
            <div>
              <div class="custom_menu-btn">
                <button>
                  <span class="s-1"></span>
                  <span class="s-2"></span>
                  <span class="s-3"></span>
                </button>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- features section -->
    <section class="features_section layout_padding">
      <div class="container">
        <div class="heading_container_for_features">
          <h2>Features of Our Credit Card Fraud Detection System</h2>
          <p>
            Our system offers a comprehensive suite of features designed to
            detect and prevent fraudulent activities in real-time.
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="feature-box">
              <div class="img-box">
                <img
                  src="{{ url_for('static', filename='images/f1.png') }}"
                  alt="Real-Time Monitoring"
                />
              </div>
              <div class="detail-box">
                <h5>Real-Time Monitoring</h5>
                <p>
                  Continuously monitors transactions in real-time to identify
                  suspicious activities immediately.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box">
              <div class="img-box">
                <img
                  src="{{ url_for('static', filename='images/f2.png') }}"
                  alt="Machine Learning Algorithms"
                />
              </div>
              <div class="detail-box">
                <h5>Machine Learning Algorithms</h5>
                <p>
                  Utilizes advanced machine learning algorithms to improve the
                  accuracy of fraud detection.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box">
              <div class="img-box">
                <img
                  src="{{ url_for('static', filename='images/f3.png') }}"
                  alt="Anomaly Detection"
                />
              </div>
              <div class="detail-box">
                <h5>Anomaly Detection</h5>
                <p>
                  Detects anomalies in transaction patterns to flag potential
                  fraudulent activities.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="feature-box">
              <div class="img-box">
                <img
                  src="{{ url_for('static', filename='images/f4.png') }}"
                  alt="User Behavior Analysis"
                />
              </div>
              <div class="detail-box">
                <h5>User Behavior Analysis</h5>
                <p>
                  Analyzes user behavior to identify deviations from normal
                  activity that may indicate fraud.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box">
              <div class="img-box">
                <img
                  src="{{ url_for('static', filename='images/f3.png') }}"
                  alt="Risk Scoring"
                />
              </div>
              <div class="detail-box">
                <h5>Risk Scoring</h5>
                <p>
                  Assigns risk scores to transactions based on their likelihood
                  of being fraudulent.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box">
              <div class="img-box">
                <img
                  src="{{ url_for('static', filename='images/f1.png') }}"
                  alt="Alerts and Notifications"
                />
              </div>
              <div class="detail-box">
                <h5>Alerts and Notifications</h5>
                <p>
                  Provides real-time alerts and notifications to administrators
                  for immediate action.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end features section -->

    <!-- info section -->
    <section class="info_section ">
      <div class="info_container layout_padding-top">
        <div class="container">
          <div class="info_top">
            <div class="info_logo">
              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" />
              <span>
                Credit Card Fraud Detection
              </span>
            </div>
            <div class="social_box">
              <a href="#">
                <img src="static/images/linkedin.png" alt="">
              </a>
              <a href="#">
                <img src="static/images/instagram.png" alt="">
              </a>
            </div>
          </div>
  
          <div class="info_main">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <div class="info_link-box">
                  <h5>
                    Useful Link
                  </h5>
                  <ul>
                    <li class=" active">
                      <a class="" href="index">Home</a>
                    </li>
                    <li class="">
                      <a class="" href="about">About </a>
                    </li>
                    <li class="">
                      <a class="" href="features">Features </a>
                    </li>
                    <li class="">
                      <a class="" href="contact">Contact </a>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-md-3 col-lg-2 offset-lg-1">
                <h5>
                  Information
                </h5>
                <p>
                  Readable content of a page when looking at its layoutreadable content of a page when looking at its layout
                </p>
              </div>
  
              <div class="col-md-3  offset-lg-1">
                <div class="info_form ">
                  <h5>
                    Newsletter
                  </h5>
                  <form action="">
                    <input type="email" placeholder="Email">
                    <button>
                      Subscribe
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9 col-md-10 mx-auto">
              <div class="info_contact layout_padding2">
                <div class="row">
                  <div class="col-md-3">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="{{ url_for('static', filename='images/location.png') }}" alt="">
                      </div>
                      <div class="detail-box">
                        <h6>
                          Location
                        </h6>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="{{ url_for('static', filename='images/mail.png') }}" alt="">
                      </div>
                      <div class="detail-box">
                        <h6>
                          demo@gmail.com
                        </h6>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-5">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="{{ url_for('static', filename='images/call.png') }}" alt="">
                      </div>
                      <div class="detail-box">
                        <h6>
                          Call +91 9922990078
                        </h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </section>
  
    <!-- end info section -->
  
    <!-- footer section -->
    <footer class="container-fluid footer_section ">
      <div class="container">
        <p>
          &copy; <span id="displayDate"></span> All Rights Reserved By Our Team
        </p>
      </div>
    </footer>
    <!-- end  footer section -->
  
  
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/custom.js"></script>
  
  
  
  </body>
  </body>
  
  </html>